<configuration>
    <!-- Disable logging for ZooKeeper -->
    <logger name="org.apache.zookeeper.ClientCnxn" level="OFF" />

    <!-- Define an asynchronous appender -->
    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console" />
    </appender>

    <!-- Define a console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger -->
    <root level="info">
        <appender-ref ref="asyncConsole" />
    </root>
</configuration>
